
<div>
  {%- if site.posts.size > 0 -%}

    <h2 class="post-list-heading">{{ page.title | default: "Posts" }}</h2>

    <ul class="post-list">

      {% assign cat = include.categoryName %}
      {%- for post in cat -%}

      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}<br>Category: {{ post.categories }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>

      {%- endfor -%}

    </ul>

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}
</div>
